code {
  display: block;
  white-space: pre-wrap;
}

#introduction {
  padding-top: 10em;
}

.main-section p, .main-section li, #reference p{
  font-size: 3em;
}

.main-section code {
  font-size: 2.2em;
}

.main-section h1, #reference h1 {
  font-size: 6em;
}

#navbar {
  font-size: 1.5em;
}

@media (min-width: 1090px) {
  #introduction {
    padding-top: 10%;
  }

  .main-section p, .main-section li, #reference p{
    font-size: 1em;
  }

  .main-section code {
    font-size: 1em;
  }

  .main-section h1, #reference h1 {
    font-size: 2em;
  }

  #navbar {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  code {
    display: block;
    white-space: pre-wrap;
  }

  #introduction {
    padding-top: 20em;
  }

  .main-section p, .main-section li, #reference p{
    font-size: 3em;
  }

  .main-section code {
    font-size: 2.2em;
  }

  .main-section h1, #reference h1 {
    font-size: 6em;
  }

  #navbar {
    font-size: 1.5em;
  }
}
