code {
  display: block;
  white-space: pre-wrap;
}

#introduction {
  padding-top: 30%;
}

p, code, li {
  font-size: 2vw;
}

@media (min-width: 1080px) {
  #introduction {
    padding-top: 10%;
  }

  p {
    font-size: 2vw;
  }
}
